/* Facebook Styling for Demo */
body {
  background: #fff;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px; }
  body #header {
    background: #3b5988;
    height: 41px; }
  body a {
    color: #3b5988;
    font-weight: bold;
    text-decoration: none; }
  body .container_12 .grid_8 {
    width: 493px; }
  body .main, body #feed {
    border-left: 1px solid #b3b3b3;
    padding-left: 20px; }
    body .main h2#preview_h2, body #feed h2#preview_h2 {
      color: #1C2A47;
      font-size: 16px;
      line-height: 22px; }
      body .main h2#preview_h2 span, body #feed h2#preview_h2 span {
        background: transparent url("https://s-static.ak.facebook.com/rsrc.php/v1/yi/r/XY1BTEJBstt.png") no-repeat -51px -276px;
        width: 16px;
        height: 18px;
        float: left;
        display: block;
        margin-right: 6px; }
  body .main {
    padding-top: 10px; }
    body .main #preview_form {
      position: relative; }
    body .main div.field {
      margin-top: 20px;
      position: relative;
      border: 1px solid #B4BBCD;
      padding: 10px; }
      body .main div.field label {
        position: absolute;
        color: #777;
        font-size: 13px;
        left: 14px;
        top: 13px; }
      body .main div.field textarea {
        border: 1px solid #BDC7D8;
        color: #333;
        width: 462px;
        resize: none;
        font-size: 13px;
        padding: 3px;
        line-height: 16px;
        height: 16px;
        cursor: text; }
    body .main #id_submit {
      background: #eeeeee url("https://s-static.ak.facebook.com/rsrc.php/v1/yf/r/_IKHHfAgFQe.png") 0px -49px;
      border: 1px solid #999;
      border-bottom: 1px solid #888;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
      padding: 2px 4px;
      line-height: normal !important;
      white-space: nowrap;
      cursor: pointer;
      font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
      font-size: 13px;
      color: #333;
      font-weight: bold;
      text-align: center;
      outline: none;
      right: 12px;
      top: 11px;
      position: absolute; }

#feed .item {
  clear: both;
  border-color: #E9E9E9; }
#feed .profilepic {
  width: 50px;
  margin-right: 10px;
  float: left; }
#feed h6 {
  font-size: 11px;
  font-weight: bold;
  color: #3B5998;
  margin-bottom: 5px; }
#feed .embed {
  margin: 0 0 0 60px; }
  #feed .embed p {
    font-size: 11px;
    line-height: 14px; }
    #feed .embed p.via {
      clear: left; }
      #feed .embed p.via .postIcon {
        width: 16px;
        height: 16px;
        float: left;
        margin-right: 3px; }
